body {
    font-family: sans-serif;
}

h1 {
    text-align: center;
    color: white;
    font-size: 4em;
}

input {
    display: block;
    margin: 1% auto;
    padding: 1%;
    width: 40%;
    min-width: 200px;
}

a {
    display: block;
    border: 2px solid firebrick;
    border-radius: 5px;
    padding: 1%;
    margin: auto;
    width: 15%;
    min-width: 100px;;
    text-align: center;
    text-decoration: none;
    background-color: white;
    opacity: 0.9;
}

p {
    width: 80%;
    min-width: 400px;
    margin: 3% auto;
    padding: 1%;
    font-size: 1.5em;
    line-height: 150%;
    border: 2px solid firebrick;
    border-radius: 5px;
    background-color: white;
    opacity: 0.9;
}

.capitalize {
    text-transform: capitalize;
}