<p>
    <label for='a1'>Adjective #1:</label>
    <input type='text' class="form-control" id='a1' ng-model='words[0]'>
</p>
<p>
    <label for='a2'>Adjective #2:</label>
    <input type='text' class="form-control" id='a2' ng-model='words[1]'>
</p>
<p>
    <label for='a3'>Adjective #3:</label>
    <input type='text' class="form-control" id='a3' ng-model='words[2]'>
</p>
<p>
    <label for='a4'>Adjective #4:</label>
    <input type='text' class="form-control" id='a4' ng-model='words[3]'>
</p>
<p>
    <label for='a5'>Adjective #5:</label>
    <input type='text' class="form-control" id='a5' ng-model='words[4]'>
</p>
<p>
    <label for='a6'>Adjective #6:</label>
    <input type='text' class="form-control" id='a6' ng-model='words[5]'>
</p>
<p>
    <label for='ad'>Adverb</label>
    <input type='text' class="form-control" id='ad' ng-model='words[6]'>
</p>
<p>
    <label for='co'>Color:</label>
    <input type='text' class="form-control" id='co' ng-model='words[7]'>
</p>
<p>
    <label for='n1'>Noun #1:</label>
    <input type='text' class="form-control" id='n1' ng-model='words[8]'>
</p>
<p>
    <label for='n2'>Noun #2:</label>
    <input type='text' class="form-control" id='n2' ng-model='words[9]'>
</p>
<p>
    <label for='n3'>Noun #3:</label>
    <input type='text' class="form-control" id='n3' ng-model='words[10]'>
</p>
<p>
    <label for='n4'>Noun #4:</label>
    <input type='text' class="form-control" id='n4' ng-model='words[11]'>
</p>
<p>
    <label for='n5'>Noun #5:</label>
    <input type='text' class="form-control" id='n5' ng-model='words[12]'>
</p>
<p>
    <label for='n6'>Noun #6:</label>
    <input type='text' class="form-control" id='n6' ng-model='words[13]'>
</p>
<p>
    <label for='no'>Number:</label>
    <input type='text' class="form-control" id='no' ng-model='words[14]'>
</p>
<p>
    <label for='pn'>Plural Noun:</label>
    <input type='text' class="form-control" id='pn' ng-model='words[15]'>
</p>
<button class='btn' ng-click="sendWords(words)">Write a story!</button>