<input type='text' class="form-control" placeholder="Adjective" ng-model='words[0]'>
<input type='text' class="form-control" placeholder="Adjective" ng-model='words[1]'>
<input type='text' class="form-control" placeholder="Adjective" ng-model='words[2]'>
<input type='text' class="form-control" placeholder="Adjective" ng-model='words[3]'>
<input type='text' class="form-control" placeholder="Adjective" ng-model='words[4]'>
<input type='text' class="form-control" placeholder="Adjective" ng-model='words[5]'>
<input type='text' class="form-control" placeholder="Adverb" ng-model='words[6]'>
<input type='text' class="form-control" placeholder="Color" ng-model='words[7]'>
<input type='text' class="form-control" placeholder="Noun" ng-model='words[8]'>
<input type='text' class="form-control" placeholder="Noun" ng-model='words[9]'>
<input type='text' class="form-control" placeholder="Noun" ng-model='words[10]'>
<input type='text' class="form-control" placeholder="Noun" ng-model='words[11]'>
<input type='text' class="form-control" placeholder="Noun" ng-model='words[12]'>
<input type='text' class="form-control" placeholder="Noun" ng-model='words[13]'>
<input type='text' class="form-control" placeholder="Number" ng-model='words[14]'>
<input type='text' class="form-control" placeholder="Plural Noun" ng-model='words[15]'>
<a ng-click="sendWords(words)">Write a story!</a>